.drum-pad {
  width: 90px;
  height: 80px;
  background-color: #ff9800;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px 1px;
  cursor: pointer;
  align-self: center;
  margin: 4px;
}

.container {
  display: flex;
  width:60%;
  height: 50%;
  background-color: #42a5f5;
  border-radius: 4px;
  border: 3px solid black;
  justify-content: space-around;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.container-drums {
  display: grid;
  grid-template-columns: repeat(3, 95px);
  padding: 4px;
}

.controllers-container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
  }
  .container-drums {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
@media only screen and (max-width: 550px) {
  .container-drums {
    grid-template-columns: repeat(3, 70px);
}
.drum-pad {
  width: 70px;
  height: 60px;
}
}

#display {
  display: flex;
  width: 8rem;
  height: 4rem;
  background-color: #ff9800;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #ff9800;
}

input[type="range"] {
  margin-top: 10px;
  -webkit-appearance: none;
  margin-right: 15px;
  width: 80%;
  height: 7px;
  background: #c66900;
  border-radius: 5px;
  background-size: 70% 100%;
  background-repeat: no-repeat;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ff4500;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

.power-button {
  width: 40px;
  height: 20px;
  background-color: black;
  margin: 10px;
  display: flex;
  align-items: center;
}

.power-button-switch {
  width: 18px;
  height: 15px;
  background-color: #c66900;
  margin: 2px;
  cursor: pointer;
}